@import "global.scss";

header {
    box-shadow: $gray-shadow;
    background-color: #343a40;
    margin-bottom: 2em;
    font-weight: 500;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    p {
        margin-bottom: 0 !important;
    }
    padding: 0.3em;
    padding-top: 0.5em;
    padding-left: 2em;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
    }
    .nav-brand {
        font-size: 22px;
        padding: 0.5em;
        color: white;
    }
    .nav-link {
        color: hsla(0, 0%, 100%, 0.5);
        &.active {
            color: white;
        }
    }
}
